<launch>
  
  <!--打开CAN端口-->
  <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="socketcan_bridge_node" />

  <!--接收MPC单片机CAN消息-->
  <node pkg="raw_data" type="rear_raw_node" name="rear_raw_node" >
    <rosparam command="load" file="$(find raw_data)/param/rear_raw.yaml" />
  </node>

  <!--rviz可视化-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find raw_data)/rviz/rear_data.rviz" required="true"/>   

  <!--rqt_plot显示曲线-->
  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" />

</launch>