<launch>

  <!--rviz中的fixed frame-->
  <arg name="fixed_frame" default="rear" />
  <!--两后雷达间距-->
  <arg name="y_offset" default="0.20" />

  <!--读bag文件-->
  <node pkg="rosbag" type="play" name="player" args="$(find record_data)/bagfiles/200107_u1.bag" respawn="true"/>    

  <!--接收MPC单片机后雷达CAN消息-->
  <node pkg="raw_data" type="rear_raw_node" name="rear_raw_node" output="screen">
    <param name="fixed_frame" value="$(arg fixed_frame)" />
    <param name="y_offset" value="$(arg y_offset)" />
  </node>

  <!--rviz可视化-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find raw_data)/rviz/rear_data.rviz" required="true"/>   

  <!--rqt_plot-->
  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" />

</launch>