<launch>

  <!--读bag文件-->
  <node pkg="rosbag" type="play" name="player" args="$(find record_data)/bagfiles/191112_f1.bag" respawn="true" output="screen"/>    

  <!--接收MPC单片机CAN消息-->
  <node pkg="raw_data" type="MPC_raw_node" name="MPC_raw_node" output="screen">
    <rosparam command="load" file="$(find raw_data)/param/front_raw.yaml" />
  </node>

  <!--rviz可视化-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find raw_data)/rviz/raw_data.rviz" required="true"/>   

  <!--rqt_plot-->
  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" />

</launch>