<launch>

  <!--连接VLP16-->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

  <!--自车Marker-->
  <node pkg="lidar_grid" type="ego_car_node" name="ego_car" />
  
  <!--激光雷达地平面标定-->
  <node pkg="lidar_grid" type="lidar_calibration" name="lidar_calibration" >
    <rosparam command="load" file="$(find lidar_grid)/param/lidar_calibration.yaml" />
  </node>
  
  <!--处理点云输出可通行栅格，RANSAC方法-->
  <node pkg="lidar_grid" type="lidar_grid" name="lidar_grid" >
    <rosparam command="load" file="$(find lidar_grid)/param/pc_handler_ransac.yaml" />
  </node>

  <!--rviz可视化-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_grid)/rviz/lidar_grid.rviz" required="true"/>     

  <!--rqt_plot显示曲线-->
  <node pkg="rqt_plot" type="rqt_plot" name="plot" />

</launch>